/* Color 
Nav & gallery - #AA7AD1
Underlines and borders - #BDA0D4
My life Section - #BDA0D410
barbie foundation accent colors - #732BC4
Notable awards accent colors - #E8D5B5
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #352541;
    scroll-behavior: smooth;
}

/* ==================Header================== */
header{
    height: 100vh;
}
.nav{
    display: flex;
    background: #AA7AD1;
    padding: 0 5%;
    position: fixed;
    width: 100%;
}
.nav-links{
    display: block;
    margin: 0 10% 0 auto;
   
}
.nav-links ul {
    
    margin: 1rem 0;
}
.nav-links ul li{
    list-style-type: none;
    display: inline;

    
}
.nav-links ul li a{
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    transition: 0.2s ease-in-out;
    
    
}
.nav-links ul li a:hover{
    background-color: #a160d6;
    
}

.nav img fill{
    color: #a160d6;
}

/* -------- */
.headline{
    padding: 12rem 5% 5rem 5%;
    display: flex;
}
.headline img{
    width: 20rem;
    border-radius: 0.8rem;
    transform: rotate(7deg);
    border: 0.6rem solid #BDA0D4;
    margin-right: 4rem;
    z-index: -1;
}

.intro h1{
    font-size: 5rem;
    font-weight: 500;
    padding: 0;
}
.intro p{
    margin: 5rem 0;
}
.social-links a i{
    color: #a160d6;
    font-size: 3rem;
    margin: 0 0.8rem;
}
.social-links a i:first-child{
    margin-left: 0;
    margin-right: 0.8rem;
}
.scroll-btn{
    text-align: center;
    color: #352541;
    font-size: 4rem;
}

@media (min-width: 1920px){
    .scroll-btn{
        margin-top: 12rem;
    }
}

/* _____My Life */
.container{
    padding: 4rem 5%;
}
.bg-shade{
    background: #BDA0D410;
}

h2{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    border-bottom: #BDA0D4 solid 0.6rem;
    width: fit-content;
    margin: auto;
    padding: 1rem;
}

.my-life blockquote{
    width: 80%;
    margin: 3rem auto;
    font-size: 1.3rem;
    color: #6d6d6d;
}
.my-life blockquote p{
    color: #777777;
    text-align: center;
}
.my-life blockquote cite{
    text-align: end;
    display: block;
}

/* career cards */
hr{
    border: none;
    height: 1px;
    background-color: #eee;
    margin: 3rem 0;

}

.my-life h3{
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
    margin: 1rem 0 1rem 0;
}
.my-life p{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
}

.my-life h4{
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    margin: 1rem 0;
}
.barbie-foundation, .awards{
    display: flex;
}
.barbie-foundation-card, .award-card{
    width: 32%;
    margin: 1rem;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.10);
    -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.10);
}

.barbie-foundation-card img, .award-card img{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 15rem;
    border-bottom: #a160d6 solid 1rem;
}
.award-card img {
    border-bottom: #E8D5B5 solid 1rem;
}
.card-content{
    padding-bottom: 2rem;
}
.card-content h5, .award-card-content h5{
    font-size: 1.6rem;
    font-weight: 500;
    /* text-align: center; */
    margin: 0.5rem 5%;
}
.card-content p, .award-card-content p{
    text-align: start;
    padding: 0.2rem 0 1rem 0;
    width: 90%;
}

.card-content a{
    font-size: 1.2rem;
    margin: 5%;
    text-decoration: none;
    color: #fff;
    background-color: #a160d6;
    padding: 0.4rem;
    border-radius: 0.3rem;
    transition: 0.2s ease-in-out;
}
.card-content a:hover {
    background-color: #352541;
}

.award-card-content span{
    margin:  0 5% ;
    color: #777777;
}

/*Gallery*/
.graphics{
    margin: 3rem 0;
    display: flex;
}
.graphics iframe{
    width: 50%;
    height: 500px;
}
.images{
    display: block;
    margin: 0 0 0 5rem;
    width: 45%;
    padding: 0.5rem 0;
}
.images img{
    width: 225px;
    height: 220px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
}
.graphics:last-child .images{
    margin: 0 5rem 0 0;
}
@media (max-width: 1919px){
    .images img{
        width: 185px;
        height: 150px;

        margin: 2px 3px;
    }
    .graphics iframe{
        height: 370px;
    }
    
}


/* Contact */
.connect-container{
    background-color: #AA7AD1;
    
}

.connect h2 {
    border-bottom: #FFFADE 0.5rem solid;
    color: #FFFADE;
    
}
.connect p{
    color: #FFFADE;
    margin: 3rem 0;
    text-align: center;
}

form{
    width: 700px;
    background-color: red;
    margin: auto;
    overflow: h;
}
input{   
    width: 100%;
    font-size: 1.3rem;
    border-radius: 1.3rem;
    padding: 5px 10px;
    border: none;
    margin: 2px;
}
.bio{
    display: flex;
}

input{
    display: block;

}